.header {
    justify-content: space-between;
    background: #141417;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 5%;
    display: flex;
    min-height: 90px;
    align-items: center;

    i {
        margin-left: 5px;

        &.noMargin {
            margin-left: 0px;
        }
    }

    .left {
        display: flex;
        .title {
            padding: 0px;

            i {
                margin-top: 5px;
            }
        }

        .aaa {
            display: flex;
            flex-direction: column;
            padding: 20px 0px 30px 0px;
            text-align: left;
            max-width: 1000px;

            p {
                opacity: 0.5;
            }

            .vs-button {
                max-width: 120px;
                margin-top: 15px;
            }
        }
        > button {
            height: max-content;
            align-self: center;
        }
    }
}
