.innpakning {
	width: 800;
	background-color: #404040;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.topptekst {
	height: 120px;
	background-color: #909090;
	padding: 5px;
	margin: 5px;
}

.meny {
	background-color: #f04605;
	padding: 5px;
	margin: 5px;
}

.innhold {
	background-color: #909090;
	padding: 5px;
	margin: 5px;
}	