.lame {
    border: 10px ridge #ff0000;
    background-color: #ffff00;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.lame p {
    color: #060606;
}

.lame img {
}
